@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

/* MainPage.css */
.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(163, 29, 29); /* Grass Green */
    color: white;
    padding: 20px;
    font-family: 'Lilita One', sans-serif;
}

.form-container {
    background: white;
    color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px; /* Wider form */
    text-align: center;
}

/* Category title alignment */
.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

/* Align label next to input */
.option {
    display: flex;
    align-items: center;
    gap: 20px; /* Adds spacing between label and input */
    width: 100%;
    padding: 10px 0;
}

label {
    flex: 1;
    text-align: left;
    font-size: 16px;
}

/* Make radio and checkboxes larger for better UI */
input[type="radio"], input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

/* Styling for the submit button */
button {
    background-color: rgb(109, 35, 35);
    color: white;
    padding: 10px 15px;
    border-color: black;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #cc0000;
}

.logout {
    background-color: rgb(109, 35, 35);
    color: white;
    padding: 10px 15px;
    border-color: black;
    border-radius: 5px;
    width: 100px;
    margin-left:50px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

/* Left Image */
.left-image {
    bottom: -80px;
    left: -60px;
}

/* Right Image */
.right-image {
    bottom: -80px;
    right: -50px;
}

.background-image {
    position: absolute;
    width: 400px; /* Adjust size */
    opacity: 1.0; /* Makes them blend with background */
    z-index: 1; /* Keeps them behind the form */
}
